* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background: #d3efdf;
  padding: 25px;
  max-width: 760px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 10px;
  border: 4px solid #b1c9bb;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-task {
  /* margin-top: 50px;
  display: flex;
  justify-content: center; */
  text-align:center ;
  padding: 10px 15px;
  border: 2px solid #b1c9bb;
  border-radius: 5px;
  background: #FFF;
  margin: 15px 0;
}

/* .add-task input {
  width: 230px;
  padding: 5px;
  border: 1px solid azure;
} */

.add-task button {
  width: 60px;
  padding: 5px;
  margin: 0 0 0 14px;
  border: 1px solid azure;
}

.tasks-row {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.task-list-item {
  display: flex;
  border: 1px solid azure;
  font-size: 12px;
  align-items: center;
}


img {
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.task-name {
  flex: 1;
  text-align: start;
  width: 80px;
  font-size: 16px;
}

.tasklist {
  display: flex;
  flex: 1;
  align-items: center;

}

.newinput {
  display: flex;
  flex: 1;
}

.newinput input {
  width: 100%;
}


h3 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #b1c9bb;
  padding: 0 0 10px;
  color: #57635c;
}

.task-list, .completed-task{
  display: flex;
  flex-direction: column;
  width: 46%;
  padding: 10px 15px;
  border: 2px solid #b1c9bb;
  border-radius: 5px;
  background: #FFF;
  margin: 15px 0;
}